body {
    display: block;
    background-image: url("../img/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
}



/* Header e H1 */
header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    color: white;
    text-align: center;
}

header img {
    width: 300px;
    margin-right: 10px;
}

/* Formulário */

#formulario {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

#formularioInput {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 30px;
    
    
}



#labelinput {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: white;
    margin-left: 15%;
    width: 90%;
    text-align: left;
}

#formularioBotoes {
    text-align: left;    
    margin-left: 10%;
}
#formularioBotoes input {
    border: none;
    margin: auto;
    width: 60%;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    border-radius: 5px;
}

#btnADD {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin-left: 10px;
    width: 200px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #181a8e;
    padding: 13px;
    border-radius: 8px;
}

#btnDelAll {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    width: 200px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #181a8e;
    padding: 13px;
    border-radius: 8px;
}

/* Div Lista de Itens */

#divListaItens {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    
}

#listaItens {
    color: aliceblue;
    background-color: #282c34;
    border-radius: 8px;
    text-align: left;
    margin: auto;
    width: 50%;
    padding: 40px;
    margin-top: 10px;

}
#divTotalCompras {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
    width: 40%;
    margin-right: 10px;
    margin-top: 10px;

}

#btnDelItem {
    background-color: white;
    font-weight: bold;
    font-size: xx-small;
    border-radius: 50%;
    margin-left: 10px;
}

/* Lista dos itens */
#lista {
    margin-left: 30px;
    margin-bottom: 7px;
    color: white;
    width: 100%;
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

#check {
    padding: 10px;
    color: black;
    
}
