body {
    display: block;
    text-align: center;
}

/* Header e H1 */
header {
    margin-bottom: 20px;
}

header h1 {
    text-align: center;
}

/* Formulário */

#formulario {
    display: flex;
    padding: 20px;
    flex-direction: row;
}

#formularioInput {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 30px;
    padding: 10px;
}

#formularioInput input {
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    border-radius: 5px;
}

#labelinput {
    margin: auto;
    width: 90%;
    text-align: left;
    padding: 5px;
}

#formularioBotoes {

    height: 100px;
    padding: 10px;
    display: flex;
}

#btnADD {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    padding: 5px;
    margin-top: 45px;
    margin-bottom: 5px;
    margin-right: 10px;
}

#btnDelAll {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    padding: 5px;
    margin-top: 45px;
    margin-bottom: 5px;
}

/* Div Lista de Itens */

#divListaItens {
    display: flex;
    flex-direction: row;
    
}

#listaItens {
    text-align: left;
    margin: auto;
    width: 40%;
    padding: 20px;
    margin-top: 10px;
}
#divTotalCompras {
    width: 40%;
    margin-right: 10px;
    margin-top: 10px;

}

#btnDelItem {
    
    font-size: small;
    border-radius: 50%;
    margin-left: 10px;
}

/* Lista dos itens */
#lista {
    width: 100%;
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

#check {
    padding: 10px;
    color: black;
    
}
